@model userCase.Models.User
 
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">    
    $(document).ready(function () {
        $("#login-statu").delay(500).hide();
    });
</script>
<div class="container">
    <div id="login-statu" style="text-align:center">
        <h3>@ViewBag.Result</h3>
        <h3>@ViewData["userName"]</h3>
    </div>
    @*<a asp-controller="account" asp-action="logout">Logout</a>*@
    <table class="table table-bordered">
        <thead>
            <tr>
                <th><label asp-for="name"></label></th>
                <th><label asp-for="surname"></label></th>
                <th><label asp-for="email"></label></th>
                <th><label asp-for="birthdate"></label></th>
                <th><label asp-for="password"></label></th> 
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <label asp-for="name">@Model.name</label></td>
                <td> <label asp-for="surname">@Model.surname</label></td>
                <td> <label asp-for="email">@Model.email</label></td>
                <td> <label asp-for="birthdate">@Model.birthdate</label></td>
                <td> <label asp-for="password">@Model.password</label></td> 
                <td>
                    <a asp-route-id="@Model.userID" asp-controller="Home" asp-action="Edit" class="btn btn-success">Düzenle</a>
                    <a asp-route-id="@Model.userID" asp-controller="Home" asp-action="Delete" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


